In [1]:
import pandas as pd
import numpy as np
import os

The climate data for Hawaii is provided through two CSV files. Start by using Python and Pandas to inspect the content of these files and clean the data.

* Create a Jupyter Notebook file called `data_engineering.ipynb` and use this to complete all of your Data Engineering tasks.
* Use Pandas to read in the measurement and station CSV files as DataFrames.
* Inspect the data for NaNs and missing values. You must decide what to do with this data.
* Save your cleaned CSV files with the prefix `clean_`.

In [2]:
#using the os.path function to get a file path that can be read in any operating system
measurement_path = os.path.join("Resources","hawaii_measurements.csv")
station_path = os.path.join("Resources","hawaii_stations.csv")

In [3]:
#use the pandas read csv function to pull the csvs into a data frame
measurement_df = pd.read_csv(measurement_path, low_memory=False)
station_df = pd.read_csv(station_path, low_memory=False)

In [4]:
#use the isnull function to find get a boolean index of whether or not a cell is blank
#then pass those indexes into the data frame to see only rows where an NaN exists.
measurement_df[measurement_df.isnull().any(axis=1)].head()

        station        date  prcp  tobs
4   USC00519397  2010-01-06   NaN    73
26  USC00519397  2010-01-30   NaN    70
29  USC00519397  2010-02-03   NaN    67
43  USC00519397  2010-02-19   NaN    63
61  USC00519397  2010-03-11   NaN    73

In [5]:
#the table below demonstrates that rows with 0 precipitation exist
#therefore it is unreasonable to assume that NaN in the prcp is equivalent to 0
measurement_df.loc[measurement_df['prcp'] == 0].head()

       station        date  prcp  tobs
1  USC00519397  2010-01-02   0.0    63
2  USC00519397  2010-01-03   0.0    74
3  USC00519397  2010-01-04   0.0    76
6  USC00519397  2010-01-08   0.0    64
7  USC00519397  2010-01-09   0.0    68

In [6]:
#use the same method as above to inspect null values in the station dataframe
#we find that there are no rows with null values in the station dataframe.
#no further cleaning necessary
station_df[station_df.isnull().any(axis=1)].head()

Empty DataFrame
Columns: [station, name, latitude, longitude, elevation]
Index: []

In [8]:
#drop rows where the prcp column values are NaN 
measurement_df = measurement_df.dropna(axis=0, how='any')

In [10]:
#verify that rows no longer exist
measurement_df.isnull().head()

   station   date   prcp   tobs
0    False  False  False  False
1    False  False  False  False
2    False  False  False  False
3    False  False  False  False
5    False  False  False  False

In [15]:
measurement_df.to_csv("clean_hawaii_measurements.csv")
station_df.to_csv("clean_hawaii_stations.csv")

Use SQLAlchemy to model your table schemas and create a sqlite database for your tables. You will need one table for measurements and one for stations.

* Create a Jupyter Notebook called `database_engineering.ipynb` and use this to complete all of your Database Engineering work.
* Use Pandas to read your cleaned measurements and stations CSV data.
* Use the `engine` and connection string to create a database called `hawaii.sqlite`.
* Use `declarative_base` and create ORM classes for each table.
  * You will need a class for `Measurement` and for `Station`.
  * Make sure to define your primary keys.
* Once you have your ORM classes defined, create the tables in the database using `create_all`.