## Step 2 - Database Engineering

Use SQLAlchemy to model your table schemas and create a sqlite database for your tables. You will need one table for measurements and one for stations.

* Create a Jupyter Notebook called `database_engineering.ipynb` and use this to complete all of your Database Engineering work.
* Use Pandas to read your cleaned measurements and stations CSV data.
* Use the `engine` and connection string to create a database called `hawaii.sqlite`.
* Use `declarative_base` and create ORM classes for each table.
  * You will need a class for `Measurement` and for `Station`.
  * Make sure to define your primary keys.
* Once you have your ORM classes defined, create the tables in the database using `create_all`.

In [1]:
import pandas as pd
import numpy as np
import os
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [3]:
conn = engine.connect()

In [4]:
Base = declarative_base()

class Measurements(Base):
    __tablename__ = 'measurements'

    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Integer)

class Stations(Base):
    __tablename__ = 'stations'
    
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [5]:
Base.metadata.create_all(engine)

In [6]:
measurements_df = pd.read_csv("clean_hawaii_measurements.csv")
stations_df = pd.read_csv("clean_hawaii_stations.csv")

In [8]:
measurements_data = measurements_df.to_dict(orient='records')
stations_data = stations_df.to_dict(orient='records')

In [9]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [10]:
measurements_table = sqlalchemy.Table('measurements', metadata, autoload=True)
stations_table = sqlalchemy.Table('stations', metadata, autoload=True)

In [11]:
conn.execute(measurements_table.delete())

In [12]:
conn.execute(stations_table.delete())

In [13]:
conn.execute(measurements_table.insert(), measurements_data)

In [14]:
conn.execute(stations_table.insert(), stations_data)

In [15]:
conn.execute('select * from stations').fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]